*{
    margin:0;
    padding:0;
}
body{
    background-color:rgb(4, 66, 45);
    font-size:20px;
    color:white;
    font-family: Salsa;
}
.container{
    grid-area: container;
    grid-gap: 0.2rem;
    width: 80%;
    margin: 50px auto;
}
.contact-box{
    grid-area: contact-box;
    background: rgb(156, 206, 185);
    display: auto; 
}
.contact-left{
    grid-area: contact-left;
    border-radius: 10%;
    padding:40px;
    background-image: linear-gradient(to right, rgb(156, 206, 185), gray);
}
.contact-right{
    grid-area: contact-right;
    border-radius: 10%;
    background-image: linear-gradient(to right, gray, rgb(156, 206, 185));
}
table {
    margin-left: 400px;
}
h1{
    margin-bottom: 10px;  
}
.container p{
    margin-bottom:40px;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis:45%;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
    padding-bottom: 5px;
}
textarea{
    width: 100%;
    border: 1px solid gray;
    outline: none;
    padding:10px;
    box-sizing: border-box;
}
label{
    margin-bottom:6px;
    display: block;  
}
button{
    background: gray;
    width:100px;
    border: none;
    outline: none;
    color: white;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgb(112, 114, 113);
}
.contact-left h2{
    color: rgb(39, 41, 40);
    font-weight: 60px;
    margin-bottom:30px;
}
.contact-right h2{
    color: white;
    font-weight: 60px;
    margin-bottom:20px;  
    margin-left:500px;   
    padding: 5px;
}
tr td:first-child{
    padding-right: 20px;
}
tr td:first-child{
    padding-top: 20px;
}
/*social media: */
.fa {
    grid-area: fa;
    padding: 20px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration:none;
    margin: 5px 2px;
    border-radius:30%;
}
.fa:hover {
      opacity: 0.9;
}
.fa-facebook {
    background: rgb(156, 206, 185);
    color: white;
    position: absolute;
    bottom:-100px;
    left: 320px;
}
.fa-linkedin {
    background: rgb(156, 206, 185);
    color: white;
    position: absolute;
    bottom:-100px;
    left:220px;
}

/*mobile responsive*/
@media (max-width:500px){
    .container{
      grid-template-rows: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas:
      "container"
      "contact-box"
      "contact-left"
      "contact-right"
      "fa";
    }
  }
