body{
  background-color: rgb(0, 0, 0);
}
.background {
    grid-area: background;
    grid-gap:0.2rem;
    width:70%;
    height:45%;
    margin-left:200px;
    margin-top: 40px;
    border-color: rgb(136, 216, 182) rgb(119, 197, 167) rgb(119, 197, 167) rgb(136, 216, 182);
    border-width: 25px 20px;
    border-radius:35px;
    border-style: outset;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-color:rgb(255, 255, 255);
    
    font-family: "Salsa";
    font-size: 20px;
    text-align: right;
    box-shadow:8px 3px 20px rgb(216, 233, 224);
}
.card{
  width:350px;
  margin-left: 70%;
  position: relative;
  display: inline-block;
}
.card .img-top{
  width: 350px;
  left:0%;
  position: absolute;
  top:0;
  display: none;
  z-index:99;
}
.card:hover .img-top{
  display: inline;
}
/*rand unu*/
p{
    color:rgb(136, 216, 182);
    font-size:80px;
    text-shadow: 3px 2px gray;
    display: inline;
}
/*rand doi*/
p2{
    color:rgb(136, 216, 182);
    font-size:50px;
    display: inline;
    text-shadow: 1px 1px gray;
}

/* navigation bar*/
body{
  margin: 0;
  font-family:"Salsa";
}
a{
  color: rgb(98, 202, 159);
  font-size: 30px;
}
.header{
  background-color: black;
  position: right;
  width:100%;
  z-index:3; 
}
.header ul{
  margin: 90px;
  padding:0;
  list-style: none;
  overflow: hidden;
}
.header ul a{
  display: block;
  padding:15px;
  text-decoration: none;
}
.header ul a:hover{
  background-color: black;
}
.header .menu{
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out; 
}
.header .menu-icon{
  padding: 28px 20px;
  position: relative;
  float: right;
  cursor: pointer;
}
/* meniu-burger*/
.header .menu-icon .nav-icon{
  background:  rgba(255, 255, 255, 0.616);
  display: block;
  height: 2px;
  width: 28px;
  border-radius:25%;
  position: relative;
  transition: background .2s ease-out;
}
.header .menu-icon .nav-icon:before{
  background: rgba(255, 255, 255, 0.616);
  content:"";
  display: block;
  height: 100%;
  width: 100%;
  border-radius:25%;
  position: absolute;
  transition: all .2s ease-out;
  top:7px;
}
.header .menu-icon .nav-icon:after{
  background:rgba(255, 255, 255, 0.616);
  content:"";
  display: block;
  height: 100%;
  width: 100%;
  border-radius:25%;
  position: absolute;
  transition: all .2s ease-out;
  top:-7px;
}
.header .menu-btn{
  display: none;
}
/* animation from burger to x */
.header .menu-btn:checked~ .menu{
  max-height: 240px;
}
.header .menu-btn:checked~ .menu-icon .nav-icon{
 background: transparent;
}
.header .menu-btn:checked~ .menu-icon .nav-icon:before{
  transform: rotate(-45deg);
  top:0;
}.header .menu-btn:checked~ .menu-icon .nav-icon:after{
  transform: rotate(45deg);
  top:0;
}

/*mobile responsive*/
@media (max-width:500px){
  .background{
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:"background";
  }
}










